.DS_Store

Unreal/Helix/Binaries/
Unreal/Helix/DerivedDataCache/
Unreal/Helix/Intermediate/
Unreal/Helix/Saved/

Unreal/Helix/Helix (Mac).xcworkspace/xcuserdata/professorsr.xcuserdatad/UserInterfaceState.xcuserstate
Unreal/Helix/Helix (Mac).xcworkspace/contents.xcworkspacedata